In [14]:
import pandas

file1 = pandas.read_csv('basics.csv')
(file1)

  name  grade
0  abc    2.3
1  sdf    3.4
2  poi    4.5
3  qwe    9.9
4  mnb    5.6

In [15]:
file2 = pandas.read_json('basics.json')
file2

  name  grade
0  abc    2.3
1  sdf    3.4
2  poi    4.5
3  qwe    9.9
4  mnb    5.6

In [16]:
file3 = pandas.read_excel('basics.xlsx',sheet_name=0)
file3

  name  grade
0  abc    2.3
1  sdf    3.4
2  poi    4.5
3  qwe    9.9
4  mnb    5.6

In [13]:
import os
os.listdir()

['basics.csv',
 'basics.json',
 'basics.xlsx',
 'notebook-basics.ipynb',
 'read-csv.py',
 'Untitled.ipynb']

In [ ]:
file4 = pandas.read_csv('basics-semicolon.csv',sep=';')