In [14]:
import pandas

file1 = pandas.read_csv('basics.csv')
(file1)

  name  grade
0  abc    2.3
1  sdf    3.4
2  poi    4.5
3  qwe    9.9
4  mnb    5.6

In [15]:
file2 = pandas.read_json('basics.json')
file2

  name  grade
0  abc    2.3
1  sdf    3.4
2  poi    4.5
3  qwe    9.9
4  mnb    5.6

In [16]:
file3 = pandas.read_excel('basics.xlsx',sheet_name=0)
file3

  name  grade
0  abc    2.3
1  sdf    3.4
2  poi    4.5
3  qwe    9.9
4  mnb    5.6

In [13]:
import os
os.listdir()

['basics.csv',
 'basics.json',
 'basics.xlsx',
 'notebook-basics.ipynb',
 'read-csv.py',
 'Untitled.ipynb']

In [18]:
file4 = pandas.read_csv('basics-semicolon.csv',sep=';')
file4

  name  grade
0  abc    2.3
1  sdf    3.4
2  poi    4.5
3  qwe    9.9
4  mnb    5.6

In [19]:
file5 = pandas.read_csv('basics.csv',header=None)
file5

      0      1
0  name  grade
1   abc    2.3
2   sdf    3.4
3   poi    4.5
4   qwe    9.9
5   mnb    5.6

In [23]:
file6 = file4.set_index('name')
file6.loc['abc']

grade    2.3
Name: abc, dtype: float64

In [31]:
list(file6.loc[:,'grade'])

[2.3, 3.4, 4.5, 9.9, 5.6]

In [44]:
file6.iloc[:,1:3]

Empty DataFrame
Columns: []
Index: [abc, sdf, poi, qwe, mnb]

In [45]:
file6.drop('abc',0)

C:\Users\mateo\AppData\Local\Temp/ipykernel_15808/2353576740.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  file6.drop('abc',0)

      grade
name
sdf     3.4
poi     4.5
qwe     9.9
mnb     5.6

In [54]:
file6.drop(file6.index[:3],0)

C:\Users\mateo\AppData\Local\Temp/ipykernel_15808/287048340.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  file6.drop(file6.index[:3],0)

      grade
name
qwe     9.9
mnb     5.6

In [57]:
file6['school']=file6.shape[0]*['nothing']
file6

      grade   school
name
abc     2.3  nothing
sdf     3.4  nothing
poi     4.5  nothing
qwe     9.9  nothing
mnb     5.6  nothing